.wheel-wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.wheel-wrapper__pointer {
	position: absolute;
	top: -4px;
	left: 50%;
	transform: translateX(-50%);
	width: 16px;
	height: 24px;
	background: #d946ef;
	clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
	z-index: 10;
	border-radius: 0 0 2px 2px;
	filter: drop-shadow(0 3px 6px rgba(124, 58, 237, 0.5));
}

.wheel-wrapper__btn {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50px;
	aspect-ratio: 1;
	border-radius: 50%;
	outline: none;
	border: none;
	cursor: pointer;
	transition: transform 0.4s;
	background: transparent;

	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}

	&:hover {
		transform: translate(-50%, -50%) scale(1.1);
	}

	&:disabled {
		cursor: not-allowed;
		opacity: 0.7;
	}
}

.wheel {
	position: relative;
	display: grid;
	width: 280px;
	aspect-ratio: 1 / 1;
	container-type: inline-size;
	direction: ltr;
	place-content: center start;
}

.wheel__choice {
	align-content: center;
	display: grid;
	font-size: 5cqi;
	font-weight: 700;
	color: #fff;
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
	grid-area: 1 / -1;
	list-style: none;
	padding-left: 1.5ch;
	padding-right: 4.5ch;
	transform-origin: center right;
	width: 50cqi;
	aspect-ratio: 1 / calc(2 * tan(180deg / var(--total)));
	rotate: calc(360deg / var(--total) * calc(var(--index) - 1));
	background: var(--slice-color);
	clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
	user-select: none;
	white-space: pre-line;
	line-height: 1.1;
	text-align: center;
}

@media (min-width: 768px) {
	.wheel {
		width: 350px;
	}
}
